version: 2.1

parameters:
  zola_version:
    type: string
    default: "0.19.2"
  fingerprint:
    type: string
    default: SHA256:OkxsH8Z6Iim6WDJBaII9eTT9aaO1f3eDc6IpsgYYPVg
  validation_flag:
    type: boolean
    default: false
    description: "If true, the validation pipeline will be executed."
  success_flag:
    type: boolean
    default: false
    description: "If true, the success pipeline will be executed."
  release_flag:
    type: boolean
    default: false
    description: "If true, the release pipeline will be executed."

orbs:
  toolkit: jerus-org/circleci-toolkit@4.0.1

executors:
  ubuntu:
    docker:
      - image: cimg/base:current
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
  zola-env:
    docker:
      - image: jerusdp/ci-zola:<<pipeline.parameters.zola_version>>
  rust-env:
    docker:
      - image: jerusdp/ci-rust:1.85

commands:
  make-test:
    parameters:
      zola-version:
        default: "0.19.2"
        type: string
    steps:
      - run:
          name: make test for minimum version <<parameters.zola-version>>
          command: |
            REPO=jerusdp/ci-zola
            TAG=<<parameters.zola-version>>
            docker build --build-arg ZOLA_VERSION=<<parameters.zola-version>> -t ${REPO}/test:${TAG} --target test .
            docker run --rm ${REPO}/test:${TAG}

  publish_rust_env:
    parameters:
      zola-version:
        default: "0.19.2"
        type: string
    steps:
      - run:
          name: Publish for version <<parameters.zola-version>>
          command: |
            REPO=jerusdp/ci-zola
            TAG=<<parameters.zola-version>>
            INPUT_RELEASE_VERSION=0.1.0
            docker build --build-arg ZOLA_VERSION=<<parameters.zola-version>> -t ${REPO}:${TAG} --target final .
            echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin
            docker push ${REPO}:${TAG}

jobs:
  test:
    parameters:
      zola-version:
        type: string
    executor: ubuntu
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - make-test:
          zola-version: << parameters.zola-version >>

  publish_zola_version:
    parameters:
      zola-version:
        type: string
    executor: ubuntu
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - publish_rust_env:
          zola-version: << parameters.zola-version >>

workflows:
  check_last_commit:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - not: << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.validation_flag >>
        - not: << pipeline.parameters.release_flag >>

    jobs:
      - toolkit/choose_pipeline:
          filters:
            branches:
              ignore: main
          name: choose pipeline based on committer
          context: bot-check

  validation:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - not: << pipeline.parameters.success_flag >>
        - << pipeline.parameters.validation_flag >>
        - not: << pipeline.parameters.release_flag >>
    jobs:
      - toolkit/label:
          min_rust_version: "1.81"
          context: pcu-app
          filters:
            branches:
              only:
                - main
      - test:
          filters:
            branches:
              ignore: main
          zola-version: << pipeline.parameters.zola_version >>
      - toolkit/update_prlog:
          requires:
            - test
          context:
            - release
            - bot-check
          ssh_fingerprint: << pipeline.parameters.fingerprint >>
          min_rust_version: "1.81"

  on_success:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.validation_flag >>
        - not: << pipeline.parameters.release_flag >>

    jobs:
      - toolkit/end_success

  check_rebase:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - not: << pipeline.parameters.release_flag >>

    jobs:
      - toolkit/label:
          filters:
            branches:
              only: main
          min_rust_version: "1.81"
          context:
            - bot-check

  release:
    when:
      and:
        - not: << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.validation_flag >>
        - << pipeline.parameters.release_flag >>
    jobs:
      - publish_zola_version:
          zola-version: << pipeline.parameters.zola_version >>
          context: docker
      - toolkit/make_release:
          name: Release << pipeline.parameters.zola_version >>
          pre-steps:
            - run: echo "export SEMVER=<< pipeline.parameters.zola_version >>" >> "$BASH_ENV"
          requires:
            - publish_zola_version
          context:
            - release
            - bot-check
          ssh_fingerprint: << pipeline.parameters.fingerprint >>
          min_rust_version: "1.81"
          when_cargo_release: false
          pcu_update_prlog: true
          when_use_workspace: false
